## UNIDAD 3 
# Estructuras de datos

Si bien ya hemos visto una sección sobre Tipos de datos, podríamos hablar de tipos de datos
más complejos en Python que se constituyen en estructuras de datos. Si pensamos en
estos elementos como átomos, las estructuras de datos que vamos a ver sería moléculas. Es
decir, combinamos los tipos básicos de formas más complejas. De hecho, esta distinción se
hace en el Tutorial oficial de Python. Trataremos distintas estructuras de datos como listas,
tuplas, diccionarios y conjuntos.

Comentarios

3.1 Listas <br>
3.1.1 Creación de Listas

In [1]:
lista_vacia =[]
lenguajes =['C','C++','Java','Python']
fibonacci =[0,1,1,2,3,5,8,13]
datos = ['La Rioja',{'temperatura':43,'humedad': '40%'},1991,(2,3)]
algo = [20,'Dinosaurio',True]
# Una lista puede tener datos de distinto tipo

3.1.2 Conversión

In [2]:
# conversión desde una cadena de texto 
list('Hola Mundo')

['H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd', 'o']

In [3]:
list('AAAAAAAAAAAAAA')

['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A']

3.1.3 Operaciones con listas <br>

In [4]:
# Obtener un elemento
# Igual que en el caso de las cadenas de texto, podemos obtener un elemento de una lista a
# través del índice (lugar) que ocupa. Veamos un ejemplo:

fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits[0]
id(fruits)
#la dirección de memoria donde está guardado fruits

2086015498304

In [5]:
fruits[-1]
#indexa de derecha a izquierda, es decir, del final para atrás.
#[-1] es el último

'banana'

In [6]:
fruits[1:3]
#desde dónde hasta dónde quiero mostrar de la lista, no se incluye el último elemento del índice

['apple', 'pear']

In [7]:
fruits[1:4]
#Acá si

['apple', 'pear', 'banana']

In [8]:
fruits [:3]

['orange', 'apple', 'pear']

In [9]:
fruits[2:]
#desde el elemento dos

['pear', 'banana', 'kiwi', 'apple', 'banana']

In [10]:
fruits [::-1]
# lo recorre de derecha a izquierda

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

Invertir una lista

In [11]:
list(reversed(fruits))
#NO MODIFICA LA LISTA

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [12]:
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [13]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

Creando listas desde lista vacía

In [14]:
numeros_pares = []
for i in range(30):
    if i % 2 ==0:
        numeros_pares.append(i)
numeros_pares

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [15]:
# hacer un for pero en vez de pares %10

In [16]:
numeros_pares = []
# el range estaría implementando el for que conocemos de desde, hasta, paso
for i in range(0,10,2):
        numeros_pares.append(i)
numeros_pares

[0, 2, 4, 6, 8]

In [17]:
# Añadir en cualquier posición de la lista
fruits=['banana','mandarina','kiwi']
fruits.insert(1,'naranja')
fruits

['banana', 'naranja', 'mandarina', 'kiwi']

In [18]:
fruits.insert(2,'quinoto')

In [19]:
fruits.insert(20,'manzana')
fruits

['banana', 'naranja', 'quinoto', 'mandarina', 'kiwi', 'manzana']

In [20]:
fruits.insert(-10,'pera')
fruits

['pera', 'banana', 'naranja', 'quinoto', 'mandarina', 'kiwi', 'manzana']

In [21]:
# repetición de listas
fruits * 2

['pera',
 'banana',
 'naranja',
 'quinoto',
 'mandarina',
 'kiwi',
 'manzana',
 'pera',
 'banana',
 'naranja',
 'quinoto',
 'mandarina',
 'kiwi',
 'manzana']

In [22]:
fruits * (-1)

[]

Combinación de listas

In [23]:
compras = ['aceite','agua','huevos']
fruta = ['manzana','banana','kiwi']
compras + fruta

['aceite', 'agua', 'huevos', 'manzana', 'banana', 'kiwi']

In [24]:
compras.extend(fruta)
#es un operador que extiende la lista original
compras

['aceite', 'agua', 'huevos', 'manzana', 'banana', 'kiwi']

Se podría pensar en el uso de append() para combinar listas. La realidad es que no funciona
exactamente como esperamos; la segunda lista se añadiría como una sublista de la principal:

In [25]:
compras.append(fruta)
compras

['aceite',
 'agua',
 'huevos',
 'manzana',
 'banana',
 'kiwi',
 ['manzana', 'banana', 'kiwi']]

In [26]:
compras[6]

['manzana', 'banana', 'kiwi']

In [27]:
compras[6][1]

'banana'

In [28]:
compras[6][2]

'kiwi'

Modificar una lista <br>
Con índice o con troceado

In [29]:
# modificación de una lista utilizando índice
compras = ['aceite','agua','huevos']
compras [0]

'aceite'

In [30]:
compras

['aceite', 'agua', 'huevos']

In [31]:
compras [1] = 'CocaCola'

In [32]:
compras[0]='arroz'
compras

['arroz', 'CocaCola', 'huevos']

In [33]:
# modificación de una lista utilizando troceado
compras[1:3]

['CocaCola', 'huevos']

In [34]:
listita = [1,2,3,4,5,6]
listita[2:4]

[3, 4]

In [35]:
compras[1:3]=['pasta','limon']
compras

['arroz', 'pasta', 'limon']

Borrado de elementos de una lista

In [36]:
ejemplo = ['soy','un','árbol','grrrrrr']

In [37]:
# mediante funcion del()
compras = ['aceite','agua','huevos']
del(compras[1])
compras

['aceite', 'huevos']

In [38]:
#del

In [39]:
# mediante funcion remove()
compras = ['aceite','agua','huevos']
compras.remove('agua')
compras

['aceite', 'huevos']

In [40]:
#remove

In [41]:
# mediante funcion pop()
compras = ['aceite','agua','huevos']
compras.pop()
compras
# extrae el último elemento

['aceite', 'agua']

In [42]:
#pop

In [43]:
compras = ['aceite','agua','huevos']
compras.pop(0)
#acá estoy aclarando
compras

['agua', 'huevos']

In [44]:
compras * (-1)
#no lo borra

[]

In [45]:
compras

['agua', 'huevos']

In [46]:
#clear

In [47]:
# Borrado completo con clear()
compras = ['aceite','agua','huevos']
compras.clear()
compras

[]

In [48]:
#con []

In [49]:
# Borrado completo reiniciando con lista vacia []
compras = ['aceite','agua','huevos']
compras = []
compras

[]

In [50]:
# Pertenencia de un elemento 
lista_nombres = ['Juan','Maria','Juan','Jose','Pedro','Maria']
'Maria' in lista_nombres

True

In [51]:
# Pertenencia de un elemento 
lista_nombres = ['Juan','Maria','Juan','Jose','Pedro','Maria']
'Soledad' in lista_nombres

False

In [52]:
# Numero de ocurrencias 
lista_nombres = ['Juan','Maria','Juan','Jose','Pedro','Maria']
lista_nombres.count('Maria')

2

Convertir una lista en una cadena de texto

In [53]:
lista_nombres = ['Juan','Maria','Juan','Jose','Pedro','Maria']
' '.join(lista_nombres)

'Juan Maria Juan Jose Pedro Maria'

In [54]:
lista_nombres = ['Juan','Maria','Juan','Jose','Pedro','Maria']
' y '.join(lista_nombres)

'Juan y Maria y Juan y Jose y Pedro y Maria'

In [55]:
lista_nombres = ['Juan','Maria','Juan','Jose','Pedro','Maria']
' se ríe, '.join(lista_nombres)

'Juan se ríe, Maria se ríe, Juan se ríe, Jose se ríe, Pedro se ríe, Maria'

Ordenamiento de listas

In [56]:
# Ordenamiento de una lista conservando la original
lista_nombres = ['Juan','Maria','Juan','Jose','Pedro','Maria']
sorted(lista_nombres)

['Jose', 'Juan', 'Juan', 'Maria', 'Maria', 'Pedro']

In [57]:
#ejemplo con sorted

In [58]:
# Ordenamiento de una lista modificando la original
lista_nombres = ['Juan','Maria','Juan','Jose','Pedro','Maria']
lista_nombres.sort()
lista_nombres

['Jose', 'Juan', 'Juan', 'Maria', 'Maria', 'Pedro']

In [59]:
# Ordenamiento reverso de una lista modificando la original
lista_nombres.sort(reverse=True)
lista_nombres

['Pedro', 'Maria', 'Maria', 'Juan', 'Juan', 'Jose']

In [60]:
# Ordenamiento reverso de una lista sin modificar la original
sorted(lista_nombres,reverse=True)

['Pedro', 'Maria', 'Maria', 'Juan', 'Juan', 'Jose']

In [61]:
lista_nombres

['Pedro', 'Maria', 'Maria', 'Juan', 'Juan', 'Jose']

Iterar sobre una lista

In [62]:
lista_nombres = ['Juan','Maria','Jose','Pedro']
for nombre in lista_nombres:
    print(nombre)

Juan
Maria
Jose
Pedro

In [63]:
lista_nombres = ['Juan','Maria','Jose','Pedro']
for i, nombre in enumerate(lista_nombres):
    print(i, nombre)

0 Juan
1 Maria
2 Jose
3 Pedro

In [64]:
puestos = ['Oro','Plata','Bronce']
for i, puesto in enumerate(puestos):
    print(i+1, puesto)

1 Oro
2 Plata
3 Bronce

Iterar sobre varias listas (zip())

In [65]:
lista_nombres = ['Juan','Maria','Jose','Pedro']
lista_apellidos =['Perez','Gomez','Garcia','Lopez']

for apellido, nombre in zip(lista_apellidos,lista_nombres):
    print(nombre, apellido)

Juan Perez
Maria Gomez
Jose Garcia
Pedro Lopez

In [66]:
list(zip(lista_apellidos,lista_nombres))

[('Perez', 'Juan'), ('Gomez', 'Maria'), ('Garcia', 'Jose'), ('Lopez', 'Pedro')]

Comportamiento de copias de listas

In [67]:
# en esta copia asigno, modifico el primer nombre
lista_nombres = ['Juan','Maria','Jose','Pedro']
lista_nombres_copia = lista_nombres
lista_nombres[0]='Ricardo'
lista_nombres_copia

['Ricardo', 'Maria', 'Jose', 'Pedro']

In [68]:
# copia dura de una lista
lista_nombres = ['Juan','Maria','Jose','Pedro']
lista_nombres_copy=lista_nombres.copy()
lista_nombres[0]='Ricardo'
lista_nombres_copy
# modifico el primer elemento y la original no se ha modificado, se creó otra lista para eso

['Juan', 'Maria', 'Jose', 'Pedro']

Verasidad Multiple

In [69]:
palabra='programación'
if len(palabra)>4 and palabra.startswith('p') and palabra.count('a')>=1:
    print('La palabra es correcta')
else:
    print('La palabra es incorrecta')

La palabra es correcta

In [70]:
# ejemplo usando all())
palabra='programación'
cantidad_letras=len(palabra) >4
palabra_comienza_p =palabra.startswith('p')
minima_cantidad_as = palabra.count('a')>=1
# A una variable booleana le asigno los valores de cada una de las condiciones con all para que se cumplan todas
is_palabra_correcta = all([cantidad_letras,palabra_comienza_p,minima_cantidad_as])
if (is_palabra_correcta):
    print('La palabra es correcta')
else:
    print('La palabra es incorrecta')

La palabra es correcta

In [71]:
# ejemplo usando any())
palabra='año'
cantidad_letras=len(palabra) >4             # False
palabra_comienza_p =palabra.startswith('p') # False
minima_cantidad_as = palabra.count('a')>=1  # True
is_palabra_correcta = any([cantidad_letras,palabra_comienza_p,minima_cantidad_as])
if (is_palabra_correcta):
    print('La palabra es correcta')
else:
    print('La palabra es incorrecta')

La palabra es correcta

Listas por comprensión

In [72]:
#Forma Clásica 
valores='23,54,64,33,54,45'
int_valores=[]
for valor in valores.split(','):
    int_valores.append(int(valor))
int_valores

[23, 54, 64, 33, 54, 45]

In [73]:
# Utilizando list comprehension
int_valores=[int(valor) for valor in valores.split(',')]
int_valores

[23, 54, 64, 33, 54, 45]

In [74]:
#Utilizando condicional
int_valores=[int(valor) for valor in valores.split(',') if int(valor)>50]
int_valores

[54, 64, 54]

In [75]:
# Anidamiento de listas por comprension
values = '34,54,43,23,34,43,54,43'
svalues = values.split(',')
combinacion = [f'{x}x{y}' for x in values for y in svalues]
combinacion

['3x34',
 '3x54',
 '3x43',
 '3x23',
 '3x34',
 '3x43',
 '3x54',
 '3x43',
 '4x34',
 '4x54',
 '4x43',
 '4x23',
 '4x34',
 '4x43',
 '4x54',
 '4x43',
 ',x34',
 ',x54',
 ',x43',
 ',x23',
 ',x34',
 ',x43',
 ',x54',
 ',x43',
 '5x34',
 '5x54',
 '5x43',
 '5x23',
 '5x34',
 '5x43',
 '5x54',
 '5x43',
 '4x34',
 '4x54',
 '4x43',
 '4x23',
 '4x34',
 '4x43',
 '4x54',
 '4x43',
 ',x34',
 ',x54',
 ',x43',
 ',x23',
 ',x34',
 ',x43',
 ',x54',
 ',x43',
 '4x34',
 '4x54',
 '4x43',
 '4x23',
 '4x34',
 '4x43',
 '4x54',
 '4x43',
 '3x34',
 '3x54',
 '3x43',
 '3x23',
 '3x34',
 '3x43',
 '3x54',
 '3x43',
 ',x34',
 ',x54',
 ',x43',
 ',x23',
 ',x34',
 ',x43',
 ',x54',
 ',x43',
 '2x34',
 '2x54',
 '2x43',
 '2x23',
 '2x34',
 '2x43',
 '2x54',
 '2x43',
 '3x34',
 '3x54',
 '3x43',
 '3x23',
 '3x34',
 '3x43',
 '3x54',
 '3x43',
 ',x34',
 ',x54',
 ',x43',
 ',x23',
 ',x34',
 ',x43',
 ',x54',
 ',x43',
 '3x34',
 '3x54',
 '3x43',
 '3x23',
 '3x34',
 '3x43',
 '3x54',
 '3x43',
 '4x34',
 '4x54',
 '4x43',
 '4x23',
 '4x34',
 '4x43',
 '4x54',
 '4x43',
 ',x34',
 ',x54',
 ',x43',
 ',x23',
 ',x34',
 ',x43',
 ',x54',
 ',x43',
 '4x34',
 '4x54',
 '4x43',
 '4x23',
 '4x34',
 '4x43',
 '4x54',
 '4x43',
 '3x34',
 '3x54',
 '3x43',
 '3x23',
 '3x34',
 '3x43',
 '3x54',
 '3x43',
 ',x34',
 ',x54',
 ',x43',
 ',x23',
 ',x34',
 ',x43',
 ',x54',
 ',x43',
 '5x34',
 '5x54',
 '5x43',
 '5x23',
 '5x34',
 '5x43',
 '5x54',
 '5x43',
 '4x34',
 '4x54',
 '4x43',
 '4x23',
 '4x34',
 '4x43',
 '4x54',
 '4x43',
 ',x34',
 ',x54',
 ',x43',
 ',x23',
 ',x34',
 ',x43',
 ',x54',
 ',x43',
 '4x34',
 '4x54',
 '4x43',
 '4x23',
 '4x34',
 '4x43',
 '4x54',
 '4x43',
 '3x34',
 '3x54',
 '3x43',
 '3x23',
 '3x34',
 '3x43',
 '3x54',
 '3x43']

In [76]:
# Funciones matematicas en listas
datos = [1,2,3,4,5,6,7,8,9,10]
min(datos)

1

In [77]:
max(datos)

10

In [78]:
sum(datos)

55

In [79]:
#Listas de listas
la =[34,54,54,65]
lb =[56,43,43]
lc =[66,77,88,99]
ld=[la,lb,lc]
ld

[[34, 54, 54, 65], [56, 43, 43], [66, 77, 88, 99]]

In [80]:
ld[1][1]

43

3.2 Tuplas

Creación de tuplas

In [81]:
tupla_vacia = ()
larioja_geoloc = (-29.427,-66.868)
punto =(4,2,4)

Conversión de tuplas

In [82]:
# de acá para abajo no marque nada de lo que falta

In [83]:
lista_super = ['manzana','pera','banana','naranja','limon']
tupla_super = tuple(lista_super)
tupla_super

('manzana', 'pera', 'banana', 'naranja', 'limon')

In [84]:
# Desempaquetado de tuplas
tupla_super = ('manzana','pera','banana','naranja','limon')
fruta1, fruta2, fruta3, fruta4, fruta5 = tupla_super
fruta2

'pera'

In [85]:
# Desempaquetado extendido de tuplas
tupala_supers = ('manzana','pera','banana','naranja','limon')   
cabeza, *cuerpo, cola = tupala_supers
cabeza

'manzana'

In [86]:
cuerpo

['pera', 'banana', 'naranja']

In [87]:
cola

'limon'

In [88]:
# Desempaquetado generico de tuplas
# sobre cadenas de texto
texto = "la"
first,last=texto
first, last

('l', 'a')

In [89]:
# sobre listas
alumno1,alumno2,alumno3 = ['Juan','Maria','Jose']
alumno1,alumno2,alumno3

('Juan', 'Maria', 'Jose')

In [90]:
texto = "la rioja"
palabra1,palabra2 =texto.split()
palabra1,palabra2

('la', 'rioja')

3.3 Diccionarios
Para crear un diccionario usamos llaves {} rodeando asignaciones clave: valor que están
separadas por comas. Veamos algunos ejemplos de diccionarios:

In [91]:
diccionario_vacio={}
diccionario_numeros = {1:'uno',2:'dos',3:'tres'}
diccionario_anios ={2019:'dos mil diecinueve',2020:'dos mil veinte'}

In [92]:
# Conversión de diccionarios desde listas
dict(zip(['a','b','c'],[1,2,3]))

{'a': 1, 'b': 2, 'c': 3}

In [93]:
dict(['a1','b2'])

{'a': '1', 'b': '2'}

In [94]:
# Conversión de diccionarios desde tuplas
dict((['a',1],['b',2],['c',3]))

{'a': 1, 'b': 2, 'c': 3}

In [95]:
# Conversión de diccionarios desde listas de Listas 
dict([['a',1],['b',2],['c',3]])

{'a': 1, 'b': 2, 'c': 3}

In [96]:
# Creacion de diccionario con dict
persona = dict(nombre='Juan',apellido='Perez',edad=30)
persona

{'nombre': 'Juan', 'apellido': 'Perez', 'edad': 30}

In [97]:
# Creacion de diccionario con dict con un valor de relleno
dict.fromkeys(['a','b','c'],0)

{'a': 0, 'b': 0, 'c': 0}

In [98]:
# Obtener un valor de un diccionario
persona['nombre']

'Juan'

In [99]:
persona.get('nombre')

'Juan'

In [100]:
persona.get('telefono','No existe')

'No existe'

In [101]:
# Agregar o modificar un valor en un diccionario
diccionario_numeros = {1:'uno',2:'dos',3:'tres'}
diccionario_numeros[4]='cuatro'
diccionario_numeros

{1: 'uno', 2: 'dos', 3: 'tres', 4: 'cuatro'}

In [102]:
diccionario_numeros[3]='three'
diccionario_numeros

{1: 'uno', 2: 'dos', 3: 'three', 4: 'cuatro'}

In [103]:
#Creando un diccionario desde vacio
#Supongamos un ejemplo en el que queremos construir un diccionario donde las claves son
#las letras vocales y los valores son sus posiciones:
vocales = 'aeiou'
enum_vocales ={}
for i,vocal in enumerate(vocales):
    enum_vocales[vocal]=i +1
enum_vocales

{'a': 1, 'e': 2, 'i': 3, 'o': 4, 'u': 5}

In [104]:
# Obteniendo las claves de un diccionario
enum_vocales.keys()

dict_keys(['a', 'e', 'i', 'o', 'u'])

In [105]:
# Onteniendo los valores de un diccionario
enum_vocales.values()

dict_values([1, 2, 3, 4, 5])

In [106]:
# Obteniendo los items de un diccionario
enum_vocales.items()

dict_items([('a', 1), ('e', 2), ('i', 3), ('o', 4), ('u', 5)])

In [107]:
# Longitud del diccionario
len(enum_vocales)

5

In [108]:
# Iterar sobre el diccionario 
for vocal in enum_vocales.keys():
    print(vocal)

a
e
i
o
u

In [109]:
# Iterar sobre el diccionario 
for orden in enum_vocales.values():
    print(orden)

1
2
3
4
5

In [110]:
# Iterar sobre el diccionario
for orden,valor in enum_vocales.items():
    print(f'La vocal {orden} es la {valor} en el abecedario')

La vocal a es la 1 en el abecedario
La vocal e es la 2 en el abecedario
La vocal i es la 3 en el abecedario
La vocal o es la 4 en el abecedario
La vocal u es la 5 en el abecedario

In [111]:
# Combinar Diccionarios
diccionario1 = {'a':1,'b':2,'c':3}  
diccionario2 = {'a':1,'b':2,'c':3,'d':4}
{**diccionario1,**diccionario2}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [112]:
diccionario1 | diccionario2

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [113]:
# Modifcando el diccionario original
diccionario1.update(diccionario2)
diccionario1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [114]:
# Eliminando un elemento de un diccionario por clave
del(diccionario1['a'])
diccionario1

{'b': 2, 'c': 3, 'd': 4}

In [115]:
# Eliminando un elemento de un diccionario por clave con extraccion
diccionario2.pop('b')

2

In [116]:
diccionario2

{'a': 1, 'c': 3, 'd': 4}

In [117]:
# Borra todos los elementos de un diccionario
diccionario1.clear()
diccionario2 = {}

In [118]:
diccionario1

{}

In [119]:
diccionario2

{}

3.4 Conjuntos

In [120]:
animales = {'perro','gato','conejo','perro','gato','conejo'}
animales

{'conejo', 'gato', 'perro'}

In [121]:
personas = {}
personas

{}

In [122]:
# Longitud de un conjunto
len(animales)

3

In [123]:
# Pertenece a un conjunto
'perro' in animales

True

In [124]:
# Pertenece a un conjunto
'vaca' in animales

False

In [125]:
# Pertenece a un conjunto
'vaca' not in animales

True

In [126]:
# Iterar sobre un conjunto
for animal in animales:
    print(animal.upper(),end=' ')

GATO PERRO CONEJO

In [127]:
# Agregar un elemento a un conjunto
animales.add('leon')
animales

{'conejo', 'gato', 'leon', 'perro'}

In [128]:
# Remover un elemento de un conjunto
animales.remove('perro')
animales

{'conejo', 'gato', 'leon'}

In [129]:
# Vaciar un conjunto
animales.clear()

animales

set()

In [130]:
# Teoría de conjuntos
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [131]:
# Unión de conjuntos
A | B
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [132]:
# intersección de conjuntos
A & B
A.intersection(B)

{4, 5}

In [133]:
# diferencia de conjuntos
A - B
A.difference(B)

{1, 2, 3}